<div class="pagina-inicial">
    <h1 id="titulo">Gráficos de Sites Acessados</h1>

    <div class="graficos-geral">
        <div id="parte-superior">
            <app-bar-chart-bloqueios></app-bar-chart-bloqueios>
            <app-site-com-mais-acessos-etempo></app-site-com-mais-acessos-etempo>
        </div>
    
        <div id="parte-media">
            <app-doughnut-chart></app-doughnut-chart>
            <app-bar-chart-acessos-mes></app-bar-chart-acessos-mes>
        </div>
    
        <div id="parte-inferior">
            <app-line-chart></app-line-chart>
        </div>
    </div>
</div>
