<div class="pagina-completa">
    <div class="conteudo">
        <div class="parte-superior">
            <div class="esquerda">
                <div class="escrita">
                    <h1>Volte Sempre!</h1>
                    <h4>Sempre bom ter você conosco.</h4>
                </div>
                <div class="logo-lokedout">
                    <img id="logo" src="../../assets/LOGO_COMPLETA.png" alt="" />
                </div>
            </div>
            <div class="imagem-familia">
                <img id="familia" src="../../assets/FamiliaJantando.png" alt="" />
            </div>
        </div>
    </div>
</div>