<div class="form">

  <h2 class="fw-bolder">Novo bloqueio</h2>

  <div class="mb-3">
    <label for="basic-url" class="form-label">Digite a url do site</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="https://www.example.com" id="url"
        aria-describedby="basic-addon3 basic-addon4">
    </div>
  </div>

  <div class="mb-3">
    <label for="basic-url" class="form-label">Horário de inicio</label>
    <div class="input-group input-group-sm mb-3">
      <input id="tempoInicio" type="time" class="form-control" placeholder="Hora de inicio" aria-label="Username"
        aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>


  <div class="mb-3">
    <label for="basic-url" class="form-label">Horário de fim</label>
    <div class="input-group input-group-sm mb-3">
      <input id="tempoFim" type="time" class="form-control" placeholder="Hora de fim" aria-label="Username"
        aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>


  <div class="mb-3">
    <label for="basic-url" class="form-label">Data de inicio</label>
    <div class="input-group input-group-sm mb-3">
      <input id="dataInicio" class="form-control" type="date" aria-label="Username"
        aria-describedby="inputGroup-sizing-sm"><br>
    </div>
  </div>

  <div class="mb-3">
    <label for="basic-url" class="form-label">Data de inicio</label>
    <div class="input-group input-group-sm mb-3">
      <input id="dataFim" class="form-control" type="date" aria-label="Username"
        aria-describedby="inputGroup-sizing-sm"><br>
    </div>
  </div>
  

  <div class="botoes-popup">
    <button id="botao-popup" type="button" (click)="onNoClick()">Cancelar</button>
    <button id="botao-popup" type="button" (click)="onClick()">Salvar</button>
  </div>
</div>