<div class="graficos-especificos">
    <mat-card class="card">
        <h1>Site mais acessado</h1>
        <div>
            <mat-card-subtitle>URL</mat-card-subtitle>
            <mat-card-title>{{dados.url}}</mat-card-title>
        </div>

        <div id ="info">
            <div class="dados">
                <mat-card-subtitle>Tempo Online</mat-card-subtitle>
                <mat-card-title>{{dados.tempoAcesso}}H</mat-card-title>
            </div>
            <div class="dados">
                <mat-card-subtitle>Vezes Acessado</mat-card-subtitle>
                <mat-card-title>{{dados.qtdAcesso}}x</mat-card-title>
            </div>
        </div>

    </mat-card>
</div>